.Navbar {
  display: flex;
  justify-content: space-between;
}

.Navbar .Navbar__title {
  color: #F80701;
}

.Navbar .Navbar__TimeDate-container {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.Dashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 25vh;
  outline: 1px solid #F80701;
}

.Dashboard .Dashboard__Stat-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 48px;
}

.Dashboard .Dashboard__Stat-container .Dashboard__Stat {
  outline: 1px solid #F80701;
}

.Dashboard .Dashboard__Stat-container .Dashboard__Stat p {
  font-size: 18px;
}

.Dashboard .Toggle {
  display: flex;
  justify-content: center;
}

.Dashboard .Toggle .Toggle__Button {
  width: 100px;
}

.Dashboard .Dashboard__options-container {
  display: flex;
  justify-content: center;
}

.Dashboard .Dashboard__options-container .Dashboard__Options {
  height: 24px;
}

.Dashboard .Dashboard__options-container .Dashboard__Options__Flag {
  height: 24px;
}

.Survey {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Survey .Survey__Form p label {
  display: inline-block;
  width: 200px;
}

.Survey .Survey__Form__Gender-label {
  width: 50px !important;
}

.Survey .Survey__Form__List {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

.Survey .CheckBox {
  list-style: none;
}

.Blog__Post-Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 12px;
}

* {
  margin: 0;
  padding: 0;
  font-family: roboto;
}

.Home {
  display: flex;
  flex-direction: column;
}
