.Navbar {
  display: flex;
  justify-content: space-between;
}

.Navbar .Navbar__title {
  color: #F80701;
}

.Navbar .Navbar__TimeDate-container {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.Dashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 25vh;
  outline: 1px solid #F80701;
}

.Dashboard .Dashboard__Stat-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 48px;
}

.Dashboard .Dashboard__Stat-container .Dashboard__Stat {
  outline: 1px solid #F80701;
}

.Dashboard .Dashboard__Stat-container .Dashboard__Stat p {
  font-size: 18px;
}

.Dashboard .Toggle {
  display: flex;
  justify-content: center;
}

.Dashboard .Toggle .Toggle__Button {
  width: 100px;
}

.Dashboard .Dashboard__options-container {
  display: flex;
  justify-content: center;
}

.Dashboard .Dashboard__options-container .Dashboard__Options {
  height: 24px;
}

.Dashboard .Dashboard__options-container .Dashboard__Options__Flag {
  height: 24px;
}

.Survey {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Survey .Survey__Form p label {
  display: inline-block;
  width: 200px;
}

.Survey .Survey__Form__Gender-label {
  width: 50px !important;
}

.Survey .Survey__Form__List {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

.Survey .CheckBox {
  list-style: none;
}

.Blog-Container .Blog {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 100vw;
  margin: 0 auto;
}

.Post {
  background: #FFF;
  margin: 1vw;
  padding: 20px;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 20vw;
  height: 13vh;
  cursor: pointer;
  overflow: hidden;
}

.Post:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 4px 8px rgba(0, 0, 0, 0.2);
}

.Post .Post__category {
  background-color: #F80701;
  display: inline-block;
  padding: 8px 10px;
  margin: 0 0 10px;
  color: #FFF;
  font-size: 0.75rem;
  font-weight: 600;
  letter-spacing: 0.075rem;
  text-transform: uppercase;
}

.Post:active {
  box-shadow: none;
  transform-origin: center;
  transform: scale(0.98);
}

.Post__category {
  display: inline-block;
  padding: 8px 10px;
  margin: 0 0 10px;
  color: #FFF;
  font-size: 0.75rem;
  font-weight: 600;
  letter-spacing: 0.075rem;
  text-transform: uppercase;
}

.Post__message {
  color: #666;
  line-height: 1.5rem;
  font-size: 0.875rem;
}

.Post__title {
  margin: 0 0 10px;
  color: #444;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.75rem;
  overflow: hidden;
}

.Post__user {
  color: #666;
  font-size: 0.7rem;
  line-height: 1.75rem;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  font-family: roboto;
}

.Home {
  display: flex;
  flex-direction: column;
}
