.Dashboard {
    display: flex;
    flex-direction: column;
    background-color: #243455;
    margin: 0 0 12px 0;

    .Dashboard-container {
        display: flex;
        justify-content: space-around;
        font-size: 3em;
        color: #CD4841;

        .Dashboard__Stat-container {
            margin: 20px;
            display: flex;
            flex-direction: column;

            .Dashboard__Stat {
                margin: 20px 0;
            }
        }

        .Dashboard__Stat p {
            color: #FFFFFF;
            font-size: 18px;
        }
    }

    .Toggle {
        display: flex;
        justify-content: center;

        .Toggle__Button {
            margin-right: 8px;
            border: 1px solid #AAA;
            color: #555;
            overflow: hidden;
            width: 72px;
            height: 25px;
            padding: 3px 6px;
            white-space: nowrap;
        }
    }



    .Dashboard__options-container {
        display: flex;
        justify-content: center;
        margin-bottom: 48px;

        .Dashboard__Options-select {
            margin-right: 8px;
            border: 1px solid #AAA;
            color: #555;
            overflow: hidden;
            height: 25px;
            padding: 3px 6px;
            white-space: nowrap;
            width: 300px;
        }

        .Dashboard__Options__Flag {
            height: 24px;
        }
    }
}