.EditForm {
    margin-top: 96px;

    .EditForm__Title {
        width: 500px;
        margin-bottom: 4px;
    }

    .EditForm__Message {
        width: 500px;
        height: 300px;
    }
    &-container {
        display: flex;
        flex-direction: column;
        color: #CD4841;
    }

    .Survey__Form-button {
        margin-right: 8px;
        border: 1px solid #AAA;
        color: #555;
        overflow: hidden;
        width: 72px;
        height: 24px;
        white-space: nowrap;
    }
}