.Navbar {
    display: flex;
    justify-content: space-between;

    .Navbar__title {
        color: #F80701;
    }

    .Navbar__TimeDate-container {
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}
