.Navbar {
    display: flex;
    justify-content: space-between;
    background-color: #F5E0CD;

    .Navbar__title {
        color: #CD4841;
    }

    .Navbar__TimeDate-container {
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}