.Navbar {
    position: fixed;
    top: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #243455;

    .Navbar__title {
        color: #CD4841;
        font-size: 60px;
    }

    .Navbar__TimeDate-container {
        color: #FFFFFF;
        margin: 0 0 8px 0;
        width: 250px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}