.Survey {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #243455;
    margin-top: 72px;
    margin-left: 2rem;
    color: #CD4841;

    .Survey__Header {
        font-size: 24px;
        margin: 16px 0;
    }


    hr {
        margin: 12px auto;
    }

    .Survey__Form p {
        margin-bottom: 20px;
    }

    .Survey__Form p label {
        font-size: 1.2rem;
        display: inline-block;
        width: 200px;
    }

    input {
        border: none;
        background: transparent;
        height: 1.5rem;
        margin-left: 1rem;
        outline: none;
        padding: 0 1rem;
    }

    .Survey__Form__Gender-label {
        margin-left: 1rem;
        width: 50px !important;
    }

    .Survey__Form__Radio {
        display: flex;
    }

    .Survey__Form__List {
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2;
    }

    .CheckBox {
        display: flex;
        align-items: center;
        list-style: none;

        input {
            margin-right: 6px;
        }
    }

    .Survey__Form-button {
        border: 1px solid #AAA;
        overflow: hidden;
        width: 196px;
        height: 25px;
        padding: 3px 6px;
        white-space: nowrap;
        background-color: #CD4841;
        display: inline-block;
        color: #FFF;
        font-size: 0.75rem;
        font-weight: 600;
        letter-spacing: 0.075rem;
        text-transform: uppercase;
        text-decoration: none;
    }
}